<html>
<head>
	<style>
		body { background: white; }
		
  </style>
</head>
<body>
	<p>
		Here you can cipher you text by the usage of Caesar Cipher.
	</p>
	<form>
		Normal text:<br>
		<input type='text' name='normal_text' /><br>
		Shift factor:<br>
		<input type='text' name='shift_factor' /><br>
		<input type='submit' value='Cipher!' />
	</form>
	<p>
		The result is: <%= ciphered_text %>		
	</p>
	<p>
		
	</p>
</body>
</html>